@model IEnumerable<TheHouse.Models.tbl_Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <section id="main-content">
        <section class="wrapper">
            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <h4 class="text-uppercase"><i class="fa fa-home"></i>  Room Category Details</h4>
                        <div style="margin-left:50px;border:1px solid #64c3c2 !important; color:white; width:15%;
                                text-decoration:none;background-color:#4ECDC4; border-radius:3px;text-align:center;">
                            <h5>
                                <span class="fa fa-plus-square">@Html.ActionLink(" Add New Category", "Create")</span>
                            </h5>
                        </div>
                        <hr>
                        <table class="table table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-home"></i> House Name</th>
                                    <th><i class="fa fa-arrow-circle-down"></i> Category </th>
                                    <th><i class="fa fa-audio-description"></i> Description</th>
                                    <th><i class=" fa fa-square"></i> Status</th>
                                    <th><i class="fa fa-edit"></i> Action
                                    <th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.tbl_House.H_Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Cat_Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Cat_Description) </td>
                                        <td>@Html.DisplayFor(modelItem => item.Cat_Status) </td>
                                        <td>
                                            <a href="@Url.Action("Edit",new{id=item.Cat_Id})"><span class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></span></a>
                                            <a href="@Url.Action("Delete",new{id=item.Cat_Id})"><span class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                    <!-- /content-panel -->
                </div>
                <!-- /col-md-12 -->
            </div>
            </section>
        </section>
